/**
colores
amarillo:#ecb807;
azul:#1d809f;
**/
.bienvenida{
	background-image: url(../img/bg-masthead.jpg);
	height: 500px;
}
h1{
	text-align: center;
	margin-top: 15%;
	color: black;
	font-size: 60px;
}
.subtitulobienvenida{
	text-align: center;
	font-size: 20px;
}
.boton1{
	display: block;
	margin:auto;
	margin-top: 15px;
}
.parte2{
	height: 280px;
	background-color: #f8f9fa;
}
.tituloparte2{
	text-align: center;
	margin-top: 6%;
}
.textparte2{
	text-align: center;
	margin-top: 1%;
}
.what{
	display: block;
	margin:auto;
	margin-top: 3%;
}
.textservices{
	text-align: center;
	margin-top: 8%;
	color: #ecb807;
}
.textwhat{
	text-align: center;
	color: white;
	font-size: 40px;
	margin-top: 2%;
}
.parte3{
	background-color: #1d809f; 
	height: 500px;
}
#iconos{
	display: block;
	margin:auto;
	margin-top: 20%;
	color: white;
}
.subtdeicono{
	text-align: center;
	margin-top: 5%;
	color: white;
}
.parrafodeicono{
	text-align: center;
	color: white;
	margin-top: 5%;
	text-align: center;
}
.parte4{
	background-image: url(../img/bg-callout.jpg);
	height: 500px;
}
.textportafolio{
	text-align: center;
	margin-top: 8%;
	color: #ecb807;
}
.textrecent{
	text-align: center;
	color: black;
	font-size: 40px;
	margin-top: 2%;
}
.parte5{
	height: 280px;
	background-color: #f8f9fa;
}
.imghojas{
	background-image: url(../img/portfolio-1.jpg);
	background-image: url(../img/portfolio-2.jpg);
	width: 400px;
	height: 400px;
	margin-left: 70px;
	background-repeat: no-repeat;
	 background-position: center;
	 float: left;
	
}
.imglapizblanco{
	background-image: url(../img/portfolio-2.jpg);
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
   background-position: bottom right;
   margin-left: 600px;
	
}
.img11 {
  background-image: url(../img/portfolio-1.jpg);
  display:inline-block;
  width: 500px;
  height: 400px;
  text-align: center;
}
.img12 {
  background-image: url(../img/portfolio-2.jpg);
  display:inline-block;
  width: 500px;
  height: 400px;
  text-align: center;
}
.img13 {
  background-image: url(../img/portfolio-3.jpg);
  display:inline-block;
  width: 500px;
  height: 400px;
  text-align: center;
}
.img14 {
  background-image: url(../img/portfolio-4.jpg);
  display:inline-block;
  width: 500px;
  height: 400px;
  text-align: center;
}
.titulosimagenes{
	color: white;
	text-align-last: left;
	margin-left: 5%;
	margin-top: 200px;
}
.pimg{
	color: white;
	text-align-last: left;
	margin-left: 5%;
	margin-top: 30px;
}
.parte6{
	height: 500px;
}
.parte7{
	height: 280px;
	background-color: #1d809f;
}
.tituloparte7{
	text-align: center;
	margin-top: 6%;
	color: white;
}
.textparte7{
	text-align: center;
	margin-top: 1%;
}
.click{
	display: block;
	margin:auto;
	margin-top: 35px;
	margin-right: 5%;
}
.look{
	display: block;
	margin:auto;
	margin-top: 35px;
	margin-left: 5%;
}